
x-opam-monorepo-opam-provided: ["lwd"]
#This is needed because eio-process doesn't exict
pin-depends:[
["eio-process.dev" "git+https://github.com/mbarbin/eio-process#ac1e965eb33f19fcedc7ce203111bca0c3fc8278"]
]

