name: nix

on:
  push:
    branches:
    - master
    tags:
    - '**'
  pull_request:
  workflow_dispatch:

permissions: read-all

jobs:
  linux:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b
        with:
          fetch-depth: 0
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
        with:
          use-flakehub: false
      
      - run: nix build .#static
      - name: Create tar.gz
        run: tar -czvf jj_tui_linux-x86_64.tar.gz -C result/bin jj_tui
      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: jj_tui_linux
          path: jj_tui_linux-x86_64.tar.gz

  linux-aarch64:
    strategy:
      fail-fast: false
    runs-on: ubuntu-24.04-arm
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b
        with:
          fetch-depth: 0
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - run: nix build .#static
      - name: Create tar.gz
        run: tar -czvf jj_tui_linux-aarch64.tar.gz -C result/bin jj_tui
      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: jj_tui_linux
          path: jj_tui_linux-aarch64.tar.gz
  macos:
    strategy:
      fail-fast: false
    runs-on: macos-latest
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b
        with:
          fetch-depth: 0
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - run: nix build
      - name: Create tar.gz
        run: tar -czvf jj_tui_macos-aarch64.tar.gz -C result/bin jj_tui
      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: jj_tui_macos
          path: jj_tui_macos-aarch64.tar.gz

  macos-x86:
    strategy:
      fail-fast: false
    runs-on: macos-15-intel
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b
        with:
          fetch-depth: 0
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - run: nix build
      - name: Create tar.gz
        run: tar -czvf jj_tui_macos-x86_64.tar.gz -C result/bin jj_tui
      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: jj_tui_macos-x86
          path: jj_tui_macos-x86_64.tar.gz

  release:
    permissions:
      contents: write
      discussions: write
    runs-on: ubuntu-latest
    needs: [macos, linux, macos-x86,linux-aarch64]
    name: release if tag
    steps:
    - name: Download artifacts
      uses: actions/download-artifact@v4.1.7
    - name: Release
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          jj_tui_linux/jj_tui_linux-x86_64.tar.gz
          jj_tui_linux/jj_tui_linux-aarch64.tar.gz
          jj_tui_macos/jj_tui_macos-aarch64.tar.gz
          jj_tui_macos-x86/jj_tui_macos-x86_64.tar.gz
